body {
    background-color: rgb(111, 91, 236);
}

input {
    display: block;
    width: 150px;
}

input:not(placeholder-shown):not(active):invalid {
    box-shadow: rgb(236, 140, 155) 1px 1px 1px;
    background-color: rgb(250, 100, 100);
}